.header {
    position: fixed;
    z-index: 1;
    opacity: 1;
    display: flex;
}
.block-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(243, 243, 243) !important;
    z-index: 1;
}