<div class="block-header">

</div>
<ul class="nav nav-tabs header">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bai1"  routerLinkActive="active">bài tập 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bai2" routerLinkActive="active">bài tập 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bai3" routerLinkActive="active">bài tập 3</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/bai4" routerLinkActive="active">bài tập 4</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/bai5" routerLinkActive="active">bài tập 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lap05" routerLinkActive="active">lap05</a>
  </li>
</ul>