<app-nav-header-lap06></app-nav-header-lap06>

<div class="container">
    <div class="jumbotron-fluid text-center">
        <h1><b>list Films</b></h1>
    </div>
    <section>
        <div class="row">
            <div class="card col-md-4" *ngFor='let film of listFilms' style="margin-bottom: 5px">
                    
                            <div class="card-block">
                                <figure class="profile">
                                    <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                                </figure>
                                <h4 class="card-title mt-3">{{film.title}}</h4>
                                <div class="meta">
                                </div>
                                <div class="card-text">
                                        <div id="summary">
                                                <p class="collapse" id="collapseSummary">  
                                                    {{film.opening_crawl}}
                                                </p>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
                                        </div>
                                        <p>Director : {{film.director}}</p>
                                        <p>Producer:  {{film.producer}}</p>
                                        <p>Release_Date:  {{film.release_date}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-secondary float-right btn-sm" [routerLink]="['./detaillap06', film.url  ]">SHOW</button>
                            </div>
            </div>
        </div>
    </section>
</div>