.container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: #ddd;
    margin-top: 50px;
    position: absolute;
    left: 400px;
}
.info {
    text-align: center;    
    background: #fff;
}
